---
http_interactions:
- request:
    method: get
    uri: http://test-sisense.chronogolf.ca/api/v1/elasticubes/getElasticubes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"EP9ZfrbRGYCYVhYvz13Tuw=="
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5b76b30dcf60bc9ad96ded30","title":"Clubs reporting","server":"LocalHost","shares":[{"partyId":"5b3293ad1ed43bccb04e2029","type":"user","permission":"w"},{"partyId":"5b7f0a4e7b5ee32ec8cebf26","type":"user","email":"admin@chronogolf.ca","permission":"r"},{"partyId":"5b7f0a4e7b5ee32ec8cebf26","type":"user","permission":"r"}],"creator":"5b3293ad1ed43bccb04e2029","revision":null,"lastBuildTimeFromNextECM":"2018-08-23T19:29:33.831Z","schedule":null,"lastUpdated":"2018-09-10T13:52:18.706Z","datasets":["aca1d5dc-22c1-43be-a610-daa142f97469","64f3e32a-9376-4375-a23a-52e5d2bfa43c","24d4cf43-16c9-4adf-b015-4138e905ff5a","fd194e40-b6fc-4f40-a65e-495952ae0bc8","9e3142c0-c665-40c4-9aa1-9fdd9c7fc923"],"oid":"92a28cb2-f995-4448-9ce9-f102f48e2936","modeling-transformations":[],"lastBuildTime":"2018-09-12T00:00:03.250Z"},{"_id":"5b77ea79368b38a59e7997f9","lastUpdated":"2018-08-22T18:25:06.107Z","title":"Chronogolf
        B.I.","server":"LocalHost","datasets":["94f92891-825a-43eb-860f-df44dfe62898","99a240ae-9884-4b04-9872-f6a332d06df0","5c192530-2106-4250-bd6e-515de35ab2af"],"oid":"314103a7-d35b-4e9b-bf21-8812a7823e33","modeling-transformations":[],"shares":[{"partyId":"5b3293ad1ed43bccb04e2029","type":"user","permission":"w"}],"creator":"5b3293ad1ed43bccb04e2029","lastBuildTimeFromN[...]
