---
http_interactions:
- request:
    method: get
    uri: http://test-sisense.chronogolf.ca/api/v1/groups/5b3293ab0800930a10dd0d3b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10d-417e3db3"
    body:
      encoding: UTF-8
      string: '{"_id":"5b3293ab0800930a10dd0d3b","roleId":null,"name":"Admins","ad":false,"objectSid":"","dn":"","uSNChanged":"","mail":"","defaultRole":"","created":"2018-06-26T19:27:39.303Z","lastUpdated":"2018-06-26T19:27:39.303Z","ldapDomainId":null,"language":null,"admins":true}'
  recorded_at: Sun, 23 Sep 2018 20:43:57 GMT
recorded_with: VCR 4.0.0
