---
http_interactions:
- request:
    method: post
    uri: http://test-sisense.chronogolf.ca/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"name":"Test","lastName":"Group"}'
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-3dcd0ee"
    body:
      encoding: UTF-8
      string: '{"name":"Test","created":"2018-09-23T20:43:57.697Z","lastUpdated":"2018-09-23T20:43:57.697Z","ad":false,"_id":"5ba7fb0deee64d1cfc30610f"}'
  recorded_at: Sun, 23 Sep 2018 20:43:57 GMT
recorded_with: VCR 4.0.0
