---
http_interactions:
- request:
    method: get
    uri: http://test-sisense.chronogolf.ca/api/roles/a665a45920422f9d417e4867
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"jMIcKrU/QKqml7WthTZ7zg=="
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"a665a45920422f9d417e4867","name":"consumer","desc":"Default Viewer Role","displayName":"Viewer","manifest":{"dashboards":{},"widgets":{},"filters":{}},"parent":null}'
  recorded_at: Tue, 18 Sep 2018 13:13:14 GMT
recorded_with: VCR 4.0.0
