---
http_interactions:
- request:
    method: get
    uri: http://test-sisense.chronogolf.ca/api/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1FTJVLkbFcE9PkYVgwgtIA=="
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"a665a45920422f9d417e4869","name":"dataDesigner","desc":"Default Data Designer Role","displayName":"DataDesigner"},
      {"_id":"a665a45920422f9d417e4861","name":"dataAdmin","desc":"Default Data Admin Role","displayName":"DataAdmin"},
      {"_id":"a665a45920422f9d417e4862","name":"super","desc":"Default Super Role","displayName":"Sys.Admin"},
      {"_id":"a665a45920422f9d417e4864","name":"admin","desc":"Default Admin Role","displayName":"Admin"},
      {"_id":"a665a45920422f9d417e4866","name":"contributor","desc":"Default Contributor Role","displayName":"Designer"},
      {"_id":"a665a45920422f9d417e4867","name":"consumer","desc":"Default Consumer Role","displayName":"Viewer"}]'
  recorded_at: Tue, 18 Sep 2018 13:07:39 GMT
recorded_with: VCR 4.0.0
