---
http_interactions:
- request:
    method: get
    uri: http://test-sisense.chronogolf.ca/api/v1/users/5b3293ad1ed43bccb04e2029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sisense_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"jMIcKrU/QKqml7WthTZ7zg=="
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"5b3293ad1ed43bccb04e2029","roleId":"5b3293aa1ed43bccb04e1f37","userName":"sebastien@chronogolf.ca","firstName":"sebastien","email":"sebastien@chronogolf.ca","active":true,"created":"2018-06-26T19:27:41.130Z","lastUpdated":"2018-09-11T19:48:48.127Z","lastLogin":"2018-09-11T15:11:44.138Z","groups":["5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b","5b3293ab0800930a10dd0d3b"],"uiSettings":{"ecmNext":{"dataPage":{"hideEcmHint":true,"hideStrip":true},"guidersShown":{"addData":true,"ecActions":true,"analytics":true},"schemas":{"schema_3e55eb62-09b9-4094-a1c3-9010cbdd9c7b":{"savedParams":{"0":{"id":"7d6889eb-949a-40aa-8a43-dd5cebd1eb8e","x":-3.7417995929718,"y":1.3409788608551,"fixed":false},"1":{"id":"eba85ba1-9ec2-432a-bebd-8f1b91cb3d34","x":1.53921401500702,"y":3.44742679595947,"fixed":false},"2":{"id":"f75f762f-6c7e-44a1-b817-b1c8e63ef625","x":0.859071135520935,"y":-2.49929928779602,"fixed":true},"3":{"id":"ec6b7689-2582-4a00-a972-4876c4647d30","x":-1.02391493320465,"y":-0.585205137729645,"fixed":true},"4":{"id":"254f5221-1227-47c0-9dba-87d1483ff3bc","x":-2.61090564727783,"y":0.268797695636749,"fixed":false},"5":{"id":"5c409eb1-1e43-480c-a958-289afc4db2a5","x":0.215881556272507,"y":0.73514062166214,"fixed":true},"6":{"id":"a2266e64-30b9-4912-a3bd-1bf2e1958df2","x":-0.508170604705811,"y":-2.03229880332947,"fixed":true},"7":{"id":"a126aede-0650-41a3-8ffd-8f240a19cfc6","x":0.629197776317596,"y":-0.843560397624969,"fixed":true},"8":{"id":"61c3244a-115e-42ff-aac9-e18774268098","x":1.50695955753326,"y":2.16202998161316,"fixed":false},"9":{"id":"HiddenTablesPin","x":-1,"y":1,"fixed":true}},"zoom":0.9},"schema_23ff4b18-9680-4e5a-973c-7a1a7439d9ec":{"savedParams":{"0":{"id":"972b7484-c77a-44a3-9494-3e0fffea37cc","x":-0.318371921777725,"y":-1.4116884469986,"fixed":false},"1":{"id":"da2f7105-c45b-46e6-87a6-3b7cb6931fca","x":-1.31726515293121,"y":-0.191725745797157,"fixed":false},"2":{"id":"9f650e47-3d70-4bc2-9b66-48643b161ee6","x":-1.8176474571228,"y":-1.60438621044159,"fixed":false},"3":{"id":"a913d094-254e-485d-bba2-c2ef19b8eae8","x":1.89005184173584,"y":0.448424279689789,"fixed":false},"4[...]
